html{
	margin-top: -36px;
	margin-right: 800px;
}
body{
	background-color: #eabcf7 ;
}
h4{
	font-family: "MV Boli";
	font-size: 24px;
}

#paragraph1{
	font-family: "MV Boli";
	font-size: 18px;
}
#paragraph2{
	font-family: "MV Boli";
	font-size: 18px;
}
#paragraph3{
	font-family: "MV Boli";
	font-size: 18px;
}
#paragraph4{
	font-family: "MV Boli";
	font-size: 18px;
}
#closing{
	margin-left: 400px;
	font-family: "MV Boli";
	font-size: 24px;
}
